<!-- In the line below, you can change just last two classes, respecting the name pattern  -->
<fieldset class="box-payment-group2 box-payment-option box-payment-newpayment newPaymentGroup">
  <h3 class="payment-newpayment-title">PIX</h3>
  <div class="payment-newpayment-description">
    <div class="payment-newpayment-header-image"></div>
    <p class="payment-newpayment-description-text">Conheça o Pix, novo meio de pagamento instantâneo, seguro e fácil.</p>
  </div>
  <ul class="payment-newpayment-benefits unstyled">
    <li class="payment-newpayment-benefit payment-newpayment-benefit-fast">
      <div class="payment-newpayment-benefit-icon"></div>
      <div class="payment-newpayment-benefit-description">
        <p class="payment-newpayment-benefit-description-title">Receba seu produto mais rápido:</p>
        <p class="payment-newpayment-benefit-description-content">
          Pagamento instantâneo a qualquer hora do dia ou noite, inclusive nos finais de semana.
        </p>
      </div>
    </li>

    <li class="payment-newpayment-benefit payment-newpayment-benefit-safe">
      <div class="payment-newpayment-benefit-icon"></div>
      <div class="payment-newpayment-benefit-description">
        <p class="payment-newpayment-benefit-description-title">Segurança total:</p>
        <p class="payment-newpayment-benefit-description-content">
          O Pix foi criado pelo Banco Central e está diponível em todos os grandes bancos. Você pode pagar sem dar nenhum dado seu.
        </p>
      </div>
    </li>

    <li class="payment-newpayment-benefit payment-newpayment-benefit-easy">
      <div class="payment-newpayment-benefit-icon"></div>
      <div class="payment-newpayment-benefit-description">
        <p class="payment-newpayment-benefit-description-title">Pague com facilidade:</p>
        <p class="payment-newpayment-benefit-description-content">
          É só apontar a câmera para o código, ou então copiar e colar o link que ficará disponível. <a>Saiba mais</a>
        </p>
      </div>
    </li>
  </ul>

  <div class="payment-newpayment-description">
    Para pagar com Pix, finalize sua compra.
  </div>
</fieldset>
