<!-- In the line below, you can change just last two classes, respecting the name pattern  -->
<fieldset>
  <h3 class="payment-lendico-title">Débito Bancário</h3>
  <div class="payment-lendico-content">
    <p  class="payment-lendico-content-title">Conheça o novo meio de pagamento que vai mudar a sua vida! Agora é possível realizar suas compras através de boletos parcelados :)</p>
    <div class="payment-lendito-content-descriptions">
      <div class="payment-lendito-content-item">
        <div class="payment-lendito-content-item-box-image">
          <div class="payment-lendito-content-item-money"></div>
          <p>PRÁTICO</p>
        </div>
        <div class="payment-lendito-content-item-box-text">
          <p>Não precisa de crédito!</p>
          <p>Pagamos o produto pra você e parcelamos no boleto em quantas vezes desejar.</p>
        </div>
      </div>
      <div class="payment-lendito-content-item">
        <div class="payment-lendito-content-item-box-image">
          <div class="payment-lendito-content-item-lamp"></div>
          <p>INOVADOR</p>
        </div>
        <div class="payment-lendito-content-item-box-text">
          <p>Utilizamos a tecnologia como aliada para desburocratizar e facilitar a aprovação do seu crédito online.</p>
        </div>
      </div>
      <div class="payment-lendito-content-item">
        <div class="payment-lendito-content-item-box-image">
          <div class="payment-lendito-content-item-shield"></div>
          <p>SEGURO</p>
        </div>
        <div class="payment-lendito-content-item-box-text">
          <p>Nossa inteligência de dados mantém as suas informações seguras e livres de fraude. Pode confiar!</p>
        </div>
      </div>
    </div>
  </div>
</fieldset>