<!-- In the line below, you can change just last two classes, respecting the name pattern  -->
<fieldset class="box-payment-group2 box-payment-option box-payment-newpayment newPaymentGroup">
  <h3 class="payment-newpayment-title" data-i18n="paymentData.paymentGroup.debitoBancario.title">Débito Bancário</h3>
  <div class="payment-newpayment-description">
    <p class="payment-newpayment-description-text" data-i18n="paymentData.paymentGroup.debitoBancario.redirectInstructions">Ao finalizar a compra, você será redirecionado(a) ao seu banco para a realização do pagamento via débito. Após isso, sua compra estará confirmada.</p>
    <p class="payment-newpayment-description-banks">Itaú, Bradesco, Banco do Brasil, Santander, Caixa e Banrisul.</p>
  </div>
  <ul class="payment-newpayment-benefits unstyled row-fluid">
    <li class="payment-newpayment-benefit payment-newpayment-benefit-warranted span4">
      <p class="payment-newpayment-benefit-title" data-i18n="paymentData.paymentGroup.debitoBancario.guaranteed">Garantido</p>
      <p class="payment-newpayment-benefit-description" data-i18n="paymentData.paymentGroup.debitoBancario.beCool">Fique tranquilo. Oferecemos a garantia de um ambiente certificado.</p>
    </li>
    <li class="payment-newpayment-benefit payment-newpayment-benefit-fast span4">
      <p class="payment-newpayment-benefit-title" data-i18n="paymentData.paymentGroup.debitoBancario.fast">Rápido</p>
      <p class="payment-newpayment-benefit-description" data-i18n="paymentData.paymentGroup.debitoBancario.authorizeViaInternetBanking">Basta autorizar o pagamento via Internet Banking e ter seu pedido liberado.</p>
    </li>
    <li class="payment-newpayment-benefit payment-newpayment-benefit-safe span4">
      <p class="payment-newpayment-benefit-title" data-i18n="paymentData.paymentGroup.debitoBancario.safe">Seguro</p>
      <p class="payment-newpayment-benefit-description" data-i18n="paymentData.paymentGroup.debitoBancario.noRegisterNeeded">Sem necessidade de cadastro e sem armazenamento dos seus dados financeiros.</p>
    </li>
  </ul>
  <div class="payment-newpayment-help">
    <span class="payment-newpayment-help-text muted" data-i18n="paymentData.paymentGroup.debitoBancario.contact">Em caso de dúvidas, escreva para falecom@safetypay.com</span>
  </div>
</fieldset>
