<fieldset class="box-payment-group2 box-payment-option box-payment-newpayment newPaymentGroup">
  <h3 class="payment-title" data-i18n="payment.title">Pagamento Exemplo</h3>

  <div class="payment-description">
    <p class="payment-description-text" data-i18n="payment.instructions">
      Ao finalizar a compra, você será redirecionado para concluir o pagamento.
    </p>
  </div>

  <ul class="payment-benefits">
    <li class="payment-benefit">
      <p class="payment-benefit-title" data-i18n="payment.benefit.secure">Seguro</p>
      <p class="payment-benefit-desc" data-i18n="payment.benefit.secureDesc">Ambiente certificado e protegido.</p>
    </li>
    <li class="payment-benefit">
      <p class="payment-benefit-title" data-i18n="payment.benefit.fast">Rápido</p>
      <p class="payment-benefit-desc" data-i18n="payment.benefit.fastDesc">Aprovação em segundos.</p>
    </li>
  </ul>

  <div class="payment-logo">
    <img src="assets/img/icon.png" alt="logo">
  </div>
</fieldset>
