.payment-newpayment-benefits,
.payment-newpayment-benefit-description,
.payment-newpayment-description,
.payment-newpayment-benefit {
  display: flex;
  flex-direction: column;
  place-items: flex-start;
}

.payment-newpayment-benefit {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.payment-newpayment-header-image {
  display: flex;
  height: 47px;
  width: 133px;
  align-self: center;
  margin-bottom: 1rem;
  background-image: url('/assets/img/pix.svg');
  background-repeat: no-repeat;
}

.payment-newpayment-description-text { margin-bottom: 1rem; }
.payment-newpayment-benefit { margin-bottom: .75rem; }

.payment-newpayment-benefit-description-title {
  font-weight: bold;
  margin-bottom: 0;
}

.payment-newpayment-benefit-description-title,
.payment-newpayment-benefit-description-content {
  font-size: 13px;
  font-family: 'Helvetica Neue';
}

.payment-newpayment-benefit-fast > .payment-newpayment-benefit-icon { background-image: url('/assets/img/fast-cart.svg'); }
.payment-newpayment-benefit-safe > .payment-newpayment-benefit-icon { background-image: url('/assets/img/secure.svg'); }
.payment-newpayment-benefit-easy > .payment-newpayment-benefit-icon { background-image: url('/assets/img/phone-camera.svg'); }

.payment-newpayment-benefit-icon {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  margin-top: 5px;

  align-self: flex-start;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.payment-newpayment-benefit-description {
  max-width: 80%;
  max-width: calc(100% - 50px);
}

@media (max-width: 979px) {
}

@media (max-width: 490px) {
  .payment-newpayment-benefit-description-title,
  .payment-newpayment-benefit-description-content {
    font-size: 12px;
  }
  
  .payment-newpayment-benefit-icon {
    height: 30px;
    width: 30px;
    margin-top: 15px;
  }
}

