body {
overflow-y: scroll;
}

p {
margin-bottom: 7px;
}

label {
margin-bottom: 0;
}

body,
label,
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
select,
.btn,
.btn-group > .btn {
font-size: 13px;
}

.btn-small {
font-size: 12px;
}

.btn-mini {
font-size: 11px;
}

.btn-large {
font-size: 16px;
}

.table td {
border: 0;
}

h1 {
color: #666666;
  font-size: 36px;
  font-weight: normal;
  margin: 20px 0;
}

h3 {
font-size: 13px;
  line-height: 1em;
  margin-top: 15px;
}

.body-cart h4,
.body-order-form h4 {
color: #666666;
  font-weight: normal;
  font-size: 13px;
  margin-top: 10px;
}

h5 {
font-size: 13px;
}

form,
.table {
margin-bottom: 0;
}

.container {
position: relative;
  display: block;
  width: 945px;
}

.container-main {
min-height: 400px;
}

.orderform-template-holder {
margin-left: 0;
  min-height: 650px;
}

.checkout-container {
min-height: 200px;
  position: relative;
  overflow: hidden;
}

.orderform-active .orderform-template {
margin-left: 0;
  position: relative;
}

@media (max-width: 490px) {
  body {
      padding-left: 10px;
      padding-right: 10px;
    }

  body .container {
      padding: 0 !important;
    }

  body .container h1 {
      font-size: 24px;
      margin-bottom: 0;
    }
}

@media (min-width: 980px) {
  .row-fluid .orderform-template-holder {
      width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
  .container {
      width: 724px;
    }

  .row-fluid [class*="span"] {
      margin-left: 0px;
    }
}

@media (max-width: 979px) {
  .body-order-form .row-fluid .span8 {
      float: none;
      width: 100%;
    }

  .body-order-form {
      padding-bottom: 20px;
    }

  .body-order-form .orderform-template {
      margin-bottom: 0;
      padding-bottom: 0;
    }
}

@media (max-width: 767px) {
  .container {
      width: auto;
    }
}

.hide {
display: none;
}

.notification {
color: #999999;
  margin-bottom: 0;
}

.collapse {
overflow: visible;
}

.loading-inline {
margin: 7px 10px 0 -25px;
  position: relative;
  z-index: 8;
}

.loading-inline span {
display: none;
}

.loading-text {
margin-right: 5px;
  vertical-align: text-top;
}

.loading-text span {
display: none;
}

.loading {
width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  position: absolute;
}

.loading-bg {
opacity: 0.8;
  background-color: #fff;
  margin-top: 10px;
  min-height: 110px;
  z-index: 2000;
}

.loading-img {
text-align: center;
}

.loading .loading-img {
height: 100%;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-pack: center;
  -moz-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  box-pack: center;
  box-align: center;
  width: 100%;
  z-index: 201;
}

.loading-img span {
display: none;
}

.row-fluid .full-cart.inactive {
margin-left: -100%;
}

.row-fluid .orderform-template.inactive {
margin-left: 100%;
}

.row-fluid .full-cart,
.row-fluid .orderform-template {
margin-bottom: 15px;
  min-height: 200px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.row-fluid .full-cart.active,
.row-fluid .orderform-template.active {
margin-left: 0;
  opacity: 1;
  position: relative;
}

.accordion-group,
.accordion-inner {
border: 0;
}

.accordion-toggle {
position: relative;
}

.accordion-inner {
padding: 9px;
}

.accordion-heading .accordion-toggle {
padding: 4px 8px 0;
}

.accordion-toggle {
color: #999999;
  cursor: inherit;
  font-size: 16px;
  padding-bottom: 0;
  padding-top: 4px;
}

.accordion-toggle span {
line-height: 18px;
}

.accordion-toggle .link-box-edit {
position: absolute;
  right: -8px;
  top: -8px;
  padding: 4px 6px 2px;
  border-radius: 0 6px;
  background: #eee;
  border-color: #eee;
  color: #08c;
  font-size: 14px;
  opacity: .7;
}

.accordion-toggle .link-box-edit:hover {
opacity: 1;
}

.accordion-toggle-active {
color: #333333;
  font-size: 24px;
  line-height: 30px;
  padding-top: 8px;
}

.step,
.cart,
.totalizers {
border: 3px solid #f4f4f4;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.step.active,
.cart.active,
.totalizers.active {
border-color: #e5e5e5;
}

.box-info {
color: #999999;
  font-size: 12px;
  line-height: 15px;
}

.box-info li {
font-size: 12px;
  line-height: 15px;
}

.box-info > p:last-child,
.box-info .shipping-options.just-one p {
margin: 0;
}

.box-info .client-profile-email {
overflow: hidden;
  text-overflow: ellipsis;
}

.badge {
display: inline-block;
  padding: 2px 4px;
  font-size: 10px;
  font-weight: bold;
  line-height: 11px;
  color: #468847;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #dff0d8;
  border-radius: 9px;
  cursor: default;
}

.icon-spin {
-moz-animation: spin 0.7s infinite linear;
  -o-animation: spin 0.7s infinite linear;
  -webkit-animation: spin 0.7s infinite linear;
  animation: spin 0.7s infinite linear;
}

p.client-first-name,
p.client-different-document,
p.client-document,
p.client-company-ie,
p.client-company-postal-code,
p.client-document-type,
p.ship-number,
p.ship-city,
p.payment-card-due-date {
margin-right: 10px;
}

p.client-document,
p.client-phone,
p.client-company-document,
p.client-company-ie,
p.client-company-postal-code,
p.client-company-phone,
p.ship-number,
p.ship-city,
p.ship-state,
p.payment-card-due-month,
p.payment-card-lash,
p.payment-card-due-year {
float: left;
}

p.client-document,
p.client-document2,
p.client-document-type {
clear: left;
}

p.submit {
margin-top: 5px;
  text-align: right;
}

.step .text label,
.step .select label {
color: #999999;
}

.step .text input {
position: relative;
  z-index: 6;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
margin-bottom: 0;
}

input.required,
select.required,
input.required:focus,
select.required:focus,
input.error,
select.error {
border-color: #dd4b39;
}

input:focus:invalid:focus,
select:focus:invalid:focus {
border-color: rgba(82, 168, 236, 0.8);
  color: #555;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.input-small {
width: 123px;
}

.input-mini {
width: 70px;
}

input.postal-code {
width: 72px;
  max-width: 72px;
  -webkit-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input.postal-code:disabled {
background-image: none;
}

input.coupon-value:disabled {
background-image: none;
}

.alert {
margin: 0 auto 20px auto;
  width: 500px;
}

.alert p {
margin-bottom: 0;
}

.alert ul {
margin-top: 10px;
}

.alert-block {
line-height: 1.3em;
  padding: 5px 20px 5px 10px;
}

.alert-block .close {
right: -12px;
  top: -5px;
}

.field-help {
background-color: #1472ba;
  border: 1px solid #2493e7;
  color: #fff;
  display: block;
  line-height: 18px;
  position: absolute;
  padding: 2px 4px;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.2);
  z-index: 10;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.help-arrow {
border-color: transparent;
  border-style: solid;
  height: 0;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 0;
}

@media (max-width: 490px) {
  .input-large,
    .input-xlarge,
    .input-xxlarge,
    input[class*="span"],
    select[class*="span"],
    textarea[class*="span"],
    .uneditable-input {
      max-width: 100% !important;
    }

  button.btn.btn-large,
    input[type="submit"].btn.btn-large {
      width: 100%;
    }
}

@media (max-width: 767px) {
  .alert {
      width: 90%;
    }
}

@media (max-width: 767px) {
  .input-large,
    .input-xlarge,
    .input-xxlarge,
    input[class*="span"],
    select[class*="span"],
    textarea[class*="span"],
    .uneditable-input {
      max-width: 284px;
    }
}

@media (min-width: 1200px) {
  .input-small {
      width: 125px;
    }

  .input-xlarge {
      width: 274px;
    }
}

.summary-template-holder {
width: 100%;
}

.summary-template-holder .accordion-heading {
display: none;
}

.summary-template-holder .accordion-inner {
padding: 0;
}

.totalizers {
border: 0;
}

.summary-shipping,
.summary-coupon {
text-align: left;
}

.summary-shipping {
margin-bottom: 15px;
  text-align: left;
}

.shipping-calculate .summary-shipping {
margin-bottom: 5px;
}

.summary-coupon {
clear: right;
  margin-top: 10px;
  min-width: 240px;
}

.full-cart .summary-totalizers tr {
border-bottom: 1px solid #f4f4f4;
}

.full-cart .summary-totalizers tfoot tr {
border-bottom: 0;
}

.full-cart .summary-totalizers .space {
padding: 0;
}

.full-cart .summary-totalizers .info {
text-align: right;
}

.full-cart .summary-totalizers .monetary {
padding: 8px 0;
  text-align: center;
}

.full-cart .summary-totalizers .monetary .shipping-form-inline {
min-width: 195px;
}

.full-cart .summary-totalizers .monetary.form-postal-code {
text-align: left;
}

.full-cart .summary-totalizers .empty {
width: 40px;
}

.full-cart .summary-totalizers tbody + tbody {
border: 0;
}

.full-cart .summary-totalizers select {
width: auto;
  height: auto;
}

.full-cart .postal-code-for-sla {
display: block;
  font-size: 12px;
  min-width: 155px;
}

.full-cart .postal-code-for-sla a:hover {
text-decoration: none;
}

.shipping-sla-selector {
display: block;
  clear: both;
}

.shipping-sla-selector .btn {
font-size: 12px;
}

.shipping-sla-selector .shipping-sla-options a {
font-size: 13px;
  line-height: 18px;
}

.shipping-sla-selector .icon-ok {
color: #51a351;
}

.shipping-sla-selector .shipping-sla-options {
left: auto;
  right: 0;
}

.cart-reset-postal-code {
text-decoration: none;
}

.shipping-fieldset .btn {
font-size: 12px;
}

.summary-postal-code-service {
display: block;
}

.link-cart {
margin: 3px 0;
}

.summary-discount-descriptions {
margin-bottom: 15px;
}

.cart-fixed {
position: relative;
  width: 255px;
}

.cart-fixed-transition {
-webkit-transition: height 0.4s ease-out;
  -moz-transition: height 0.4s ease-out;
  -o-transition: height 0.4s ease-out;
  transition: height 0.4s ease-out;
}

.mini-cart {
color: #666666;
  margin: 0;
}

.mini-cart .summary .coupon-column,
.mini-cart .postal-code-for-sla .shipping-name-to,
.mini-cart .postal-code-for-sla .postal-code-value,
.mini-cart .postal-code-for-sla .postal-code-value,
.mini-cart .postal-code-for-sla .cart-reset-postal-code,
.mini-cart .shipping-sla-selector,
.mini-cart .shipping-selected-sla-estimate,
.mini-cart .shipping-calculate {
display: none;
}

.mini-cart h2 {
font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 4px;
}

.mini-cart .cart {
margin-bottom: 6px;
}

.mini-cart .cart,
.mini-cart .totalizers {
border: 0;
  padding: 0;
}

.mini-cart .summary-totalizers td {
padding-bottom: 0;
}

.mini-cart .summary-template-holder {
border-top: 1px solid #ddd;
}

.mini-cart .summary-cart-template-holder {
overflow: auto;
}

.mini-cart .monetary {
text-align: right;
}

.mini-cart .summary .summary-totalizers {
margin-left: 0;
  width: 100%;
}

.mini-cart .table td {
vertical-align: middle;
  font-size: 12px;
  line-height: 15px;
}

.mini-cart .cart-items {
margin-bottom: 0;
}

.mini-cart .item {
position: relative;
  border-top: 1px dotted #ddd;
  padding-top: 6px;
  margin-top: 6px;
  float: left;
  clear: both;
  width: 100%;
  font-size: 12px;
}

.mini-cart .item .fn {
display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  width: 76%;
  line-height: 150%;
}

.mini-cart .price {
margin-right: 5px;
}

.mini-cart .url {
display: block;
  float: left;
  margin-right: 6px;
}

.mini-cart .quantity {
position: absolute;
  top: 4px;
  left: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  text-shadow: none;
}

.mini-cart .space,
.mini-cart .empty {
display: none;
}

.mini-cart .description {
margin-top: 20px;
  font-size: 11px;
}

.mini-cart .monetary {
padding-right: 5px;
}

.mini-cart tfoot {
font-weight: bold;
}

.mini-cart tfoot .monetary {
color: #468847;
}

.mini-cart .info {
color: #999;
  float: right;
}

.mini-cart .payment-submit-wrap {
margin-bottom: 15px;
}

.payment-confirmation-wrap {
bottom: 20px;
  position: absolute;
  width: 100%;
  display: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.cart-fixed {
position: relative;
  width: 255px;
  min-height: 310px;
}

.cart-fixed-transition {
-webkit-transition: height 0.2s ease-out;
  -moz-transition: height 0.2s ease-out;
  -o-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out;
}

.payment-confirmation-wrap {
background: #f4f4f4;
  bottom: 0px;
  border-radius: 0 5px 5px 0;
  padding: 10px 5% 0;
  position: absolute;
  right: 0;
  width: 100%;
}

.link-choose-products {
margin-top: 15px;
}

.item-discount-descriptions {
display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item-discount-descriptions li {
list-style-type: none;
}

.summary-discount-descriptions {
display: none;
}

.shipping-estimate-detail {
display: block;
}

.full-cart .totalizers tfoot td {
font-size: 18px;
}

@media (max-width: 490px) {
  .full-cart .totalizers {
      padding-right: 8px;
      width: 100%;
      margin-bottom: 0;
      padding-top: 0;
    }

  .full-cart .summary-totalizers .shipping-sla-options {
      left: -10px;
      overflow: auto;
      right: auto;
      max-width: 290px;
    }

  .full-cart .summary-totalizers .monetary {
      min-width: 0;
    }

  .full-cart .summary-totalizers .empty {
      padding: 0;
      width: 0;
    }

  .cart-fixed {
      width: 100%;
    }
}

@media (max-width: 767px) {
  .summary-template-holder .summary .coupon,
    .summary-template-holder .summary .shipping {
      clear: none;
      float: left;
      width: 240px;
    }
}

@media (min-width: 980px) {
  .full-cart .summary-totalizers {
      width: 36%;
    }

  .row-fluid .mini-cart {
      width: 27%;
    }

  .mini-cart .cart {
      max-height: 200px;
      overflow: auto;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
  .cart-fixed {
      width: 95%;
    }
}

@media (max-width: 979px) {
  .body-order-form .row-fluid .mini-cart {
      float: none;
      width: 100%;
    }

  .cart-fixed {
      position: relative !important;
      width: auto;
    }

  .mini-cart {
      margin-top: 10px;
    }
}

.cart-links-bottom {
margin: 10px 0 50px;
}

.link-choose-more-products,
.link-print-cart {
margin-right: 15px;
}

.cart-items tbody td {
vertical-align: middle;
}

.cart-items tfoot td {
font-weight: 700;
}

.cart-items .product-name {
width: 350px;
}

.cart-items .product-remove,
.cart-items .product-price,
.cart-items .shipping-date,
.cart-items .quantity-price,
.cart-items .quantity,
.cart-items .monetary {
text-align: center;
}

.cart-items .product-price {
position: relative;
}

.brand-label {
display: none;
}

.product-name,
.product-remove {
border-left: 0;
}

.product-image {
  vertical-align: middle;
  width: 45px;
}

.product-image a {
text-decoration: none;
}

.product-image img {
color: transparent;
  height: 45px;
  max-width: 45px;
  width: 45px;
}

.quantity input {
-webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin: 0 5px;
  text-align: center;
  width: 25px;
}

.quantity-price,
.monetary {
width: 100px;
}

.manualprice-link-remove,
.item-link-remove,
.item-quantity-change {
font-size: 18px;
  vertical-align: middle;
}

.manualprice-link-remove:hover,
.item-link-remove:hover,
.item-quantity-change:hover {
text-decoration: none;
}

.manualprice-link-remove {
vertical-align: top;
}

.table .item-remove {
text-align: center;
  width: 30px;
}

.manualprice-link-remove,
.item-link-remove {
color: #999;
  font-size: 16px;
}

.manualprice-link-remove:hover,
.item-link-remove:hover {
color: #ba3424;
}

.new-product-real-price-per-unit {
display: block;
}

.item-multiplier-label {
display: block;
}

.item-unit-label {
display: block;
}

@media print {
  a:after,
    .cart-links span,
    .item-quantity-change,
    .link-coupon-add,
    .item-remove,
    .shipping-label,
    .shipping-fields,
    .edit {
      display: none !important;
    }

  .forms {
      float: left !important;
      width: 420px !important;
    }

  .product-price {
      width: 120px !important;
    }

  .totalizers {
      width: 240px !important;
    }
}

@media (max-width: 490px) {
  .full-cart .cart-links-bottom .btn-success {
      width: 83%;
      display: block;
      margin-top: 10px;
    }

  .full-cart .cart table {
      display: block;
      margin-top: 0 !important;
    }

  .full-cart .cart table thead {
      display: none;
    }

  .full-cart .cart table tbody {
      display: block;
    }

  .full-cart .cart table tbody tr + tr {
      border-top: 1px dashed #ddd;
      padding-top: 10px;
    }

  .full-cart .cart table tbody tr {
      display: block;
      margin-top: 5px;
      position: relative;
      padding-bottom: 8px;
    }

  .full-cart .cart table tbody tr .product-name a,
    .full-cart .cart table tbody tr .product-name .seller {
      overflow: hidden;
    }

  .full-cart .cart table tbody tr td {
      display: inline-block;
      padding: 4px 0;
    }

  .full-cart .cart table tbody tr td.product-name .seller {
      display: block;
      line-height: 120%;
      font-size: 80%;
      margin-top: 4px;
    }

  .full-cart .cart table tbody tr td.product-image,
    .full-cart .cart table tbody tr td.bundle-item-image {
      left: 0;
      position: absolute;
    }

  .full-cart .cart table tbody tr td.product-name {
      display: block;
      margin-left: 60px;
      text-align: left;
      line-height: 140%;
      width: auto;
    }

  .full-cart .cart table tbody tr td.product-name {
      padding: 0 0 10px !important;
    }

  .full-cart .cart table tbody tr td.empty,
    .full-cart .cart table tbody tr td.shipping-date,
    .full-cart .cart table tbody tr td .brand {
      display: none;
    }

  .full-cart .cart table tbody tr td.product-name a,
    .full-cart .cart table tbody tr td.bundle-item-name span {
      display: block;
      padding-right: 20px;
    }

  .full-cart .cart table tbody tr td.quantity {
      width: 81px;
      padding: 0px;
      margin-left: 60px;
    }

  .full-cart .cart table tbody tr td.quantity input {
      float: left;
      margin: 0;
      width: 25px;
    }

  .full-cart .cart table tbody tr td.product-price {
      text-align: right;
      float: right;
      margin-right: 5px;
    }

  .full-cart .cart table tbody tr td.quantity-price {
      display: none;
    }

  .full-cart .cart table tbody tr td.item-remove {
      position: absolute;
      top: -5px;
      right: 0;
      width: 14px;
    }

  .cart-links-bottom {
      float: none;
      margin-top: 5px;
      margin-bottom: 40px;
      text-align: right;
    }

  .more {
      margin-right: 0;
    }

  .full-cart .cart-links-bottom .btn-success {
      width: auto;
    }
}

@media (max-width: 767px) {
  .full-cart .cart table tr td.quantity input {
      display: inline;
      width: 45px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
  .full-cart .quantity {
      position: relative;
    }

  .full-cart .quantity input {
      display: block;
      margin: 0 auto;
    }
}

@media (max-width: 979px) {
  .full-cart .summary-totalizers .monetary,
    .full-cart .summary-totalizers .monetary.form-postal-code {
      text-align: right;
      padding-right: 5px;
    }
}

.client-pre-email {
position: absolute;
  background: #fff;
  z-index: 1020;
  width: 100%;
  text-align: center;
  height: 100%;
  border-top: 1px solid #eee;
}

.client-pre-email input {
font-size: 22px;
  height: 54px;
  line-height: 100%;
}

.client-pre-email .btn-success {
height: 50px;
  font-size: 16px;
  position: absolute;
  right: 2px;
  top: 2px;
}

.client-pre-email .client-email {
position: relative;
  margin-bottom: 25px;
}

.client-pre-email .client-email .loading-inline {
font-size: 23px;
  color: #999;
  position: absolute;
  top: 8px;
  right: 110px;
}

.client-pre-email h3 small {
padding-left: 5px;
  vertical-align: baseline;
  font-size: 20px;
  font-weight: 200;
}

.client-pre-email .emailInfo {
text-align: left;
  background-color: #fcfcfc;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  width: 35%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.client-pre-email .emailInfo ul {
color: #888;
  z-index: 2;
  position: relative;
}

.client-pre-email .emailInfo .icon-ok,
.client-pre-email .emailInfo h3 {
color: #468847;
  z-index: 2;
  position: relative;
}

.client-pre-email .emailInfo .icon-lock {
position: absolute;
  font-size: 180px;
  bottom: -35px;
  right: -5px;
  color: #EAF0EA;
  z-index: 1;
}

.client-pre-email-h label {
font-size: 32px;
  font-weight: 200;
  margin-top: 8%;
  cursor: default;
}

@media (max-width: 490px) {
  .client-pre-email h3 span {
      display: block;
      font-size: 22px;
    }

  .client-pre-email input {
      font-size: 18px;
      height: 48px;
    }

  .client-pre-email h3 small {
      font-size: 13px;
    }

  .client-pre-email-h label {
      margin-top: 8px;
    }

  .client-pre-email .btn-success {
      position: relative;
      right: auto;
      top: auto;
      margin: 5px auto 0;
    }

  .client-pre-email .client-email .loading-inline {
      right: 10px !important;
      top: 34px;
    }
}

@media (max-width: 979px) {
  .client-pre-email .emailInfo {
      width: 85%;
    }

  .client-pre-email label {
      line-height: 100%;
    }

  .client-pre-email label small {
      display: block;
    }
}

.client-profile-data h5 {
display: none;
  margin-bottom: 5px;
}

.client-profile-data ul {
display: inline-block;
  margin: 5px 5px 0 0;
}

.client-notice {
line-height: 1.4;
  margin-bottom: 10px;
}

.document-box {
clear: both;
}

.phone-box {
clear: both;
  display: none;
}

.step .client-email .loading-inline {
margin-top: -22px;
  right: 28px;
}

.newsletter,
.save-data {
margin: 5px 0;
}

@media (max-width: 490px) {
  .orderform-template-holder .client-profile-data .pull-left {
      float: none !important;
    }

  .orderform-template-holder .client-profile-data .client-document,
    .orderform-template-holder .client-profile-data .client-phone {
      float: left !important;
      width: 48%;
    }

  .orderform-template-holder .client-profile-data .client-document input,
    .orderform-template-holder .client-profile-data .client-phone input {
      width: 89%;
    }

  .orderform-template-holder .client-profile-data .client-phone {
      float: right !important;
    }

  .orderform-template-holder .client-profile-data p.client-first-name,
    .orderform-template-holder .client-profile-data .box-client-info-pf {
      margin-right: 0;
    }

  .orderform-template-holder .client-profile-data .box-client-info {
      margin-right: 0;
    }

  .orderform-template-holder .client-profile-data input[type="text"] {
      width: 95% !important;
    }

  .orderform-template-holder .client-profile-data input[type="email"] {
      width: 100% !important;
    }

  .client-email .loading-inline {
      margin-top: -24px;
      right: 16px;
    }

  .btn-submit-wrapper .submit {
      margin-top: 10px;
    }
}

@media (max-width: 767px) {
  .box-client-info-pf {
      float: left;
      margin-right: 15px;
    }
}

.payment-data {
color: #666666;
  float: right;
  position: relative;
}

.payment-data .step {
background: #fff;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

.steps-view {
float: right;
  min-height: 200px;
  overflow: hidden;
  padding: 15px;
  position: relative;
  z-index: 99;
}

.steps-view h3 {
display: none;
}

.steps-view,
.gift-card-section {
background: #f4f4f4;
  padding-left: 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.steps-view,
.gift-card-section,
.payment-discounts-alert {
width: 409px;
}

.payment-submit-hide {
height: 1px;
  left: -999em;
  position: absolute;
  opacity: 0;
  width: 1px;
}

.payment-group-list-btn {
width: 161px;
}

.payment-group {
background: #fff;
  float: left;
  margin-top: 35px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.payment-group-item {
border: 2px solid #f4f4f4;
  border-right: none;
  display: block;
  margin-left: 5px;
  opacity: .7;
  width: 100%;
  padding: 0 18px 0 8px;
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.payment-group-item:hover {
text-decoration: none;
  opacity: 1;
}

.payment-group-item.active {
background-color: #f4f4f4;
  margin-left: 0;
  opacity: 1;
}

.payment-group-item-text {
background-position: right center;
  background-repeat: no-repeat;
  display: block;
  font-size: 12px;
  line-height: 28px;
  margin-bottom: -2px;
  padding: 8px 0;
  padding-right: 40px;
}

#payment-group-creditCardPaymentGroup .payment-group-item-text,
#payment-group-bankInvoicePaymentGroup .payment-group-item-text,
#payment-group-payPalPaymentGroup .payment-group-item-text,
#payment-group-MercadoPagoPaymentGroup .payment-group-item-text {
  background-size: 30px auto;
}

#payment-group-creditCardPaymentGroup .payment-group-item-text {
  background-image: url('assets/img/ico-credit2.svg');
}

#payment-group-bankInvoicePaymentGroup .payment-group-item-text {
  background-image: url('assets/img/ico-boleto.svg');
}

#payment-group-payPalPaymentGroup .payment-group-item-text {
  background-image: url('assets/img/ico-paypal.svg');
}

#payment-group-MercadoPagoPaymentGroup .payment-group-item-text {
  background-image: url('assets/img/ico-mercadopago.svg');
}

#payment-group-template-PaymentGroup .payment-group-item-text {
background-size: 30px;
}

.steps-view--payment-template {
overflow: visible;
  min-height: 0;
}

.payment-template-frame {
border: 0;
  display: block;
  width: 100%;
  min-height: 40px;
  overflow: hidden;
  vertical-align: top;
}

.link-gift-card {
left: 25px;
  margin-top: 5px;
  position: absolute;
}

@media (max-width: 490px) {
  .payment-group-list-btn {
      width: 100% !important;
      margin-bottom: 5px;
    }

  .cart-fixed {
      width: 100%;
    }

  .steps-view {
      padding: 15px;
    }
}

@media (max-width: 767px) {
  .payment-data .payment-group {
      float: none;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
  .row-fluid [class*="span"] .payment-data.pull-right {
      clear: right;
    }

  .payment-group-item.active {
      margin-left: 4px;
      position: relative;
      z-index: 9999;
    }
}

@media (max-width: 979px) {
  .payment-data .steps-view,
    .payment-data .gift-card-section,
    .payment-data .payment-discounts-alert {
      width: 462px;
    }

  .payment-confirmation-wrap {
      background: none;
      position: relative;
      padding: 0;
      bottom: 5px;
      width: 100%;
      border-top: 1px dotted #ccc;
      padding-top: 10px;
    }

  .payment-submit-wrap {
      margin-top: 15px;
    }
}

@media (max-width: 767px) {
  .payment-data .input-large,
    .payment-data .input-xlarge,
    .payment-data .input-xxlarge,
    .payment-data input[class*="span"],
    .payment-data select[class*="span"],
    .payment-data textarea[class*="span"],
    .payment-data .uneditable-input {
      max-width: 185px;
    }

  .payment-data .payment-group,
    .payment-data .link-gift-card {
      margin: 0 auto 10px;
      position: relative;
    }

  .payment-data .payment-group a {
      border: 2px solid #f4f4f4;
      margin-left: 0;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    }

  .payment-data .payment-group a span {
      width: auto;
    }

  .payment-data .steps-view,
    .payment-data .gift-card-section,
    .payment-data .payment-discounts-alert {
      float: none;
      margin-left: 0;
      width: auto;
    }

  .payment-data .steps-view {
      min-height: 0;
      padding-bottom: 15px;
    }

  .payment-data .fast-shopping,
    .payment-data p.submit {
      bottom: auto;
      margin-top: 10px;
      position: relative;
      right: auto;
    }

  .payment-data .fast-shopping label span,
    .payment-data p.submit label span {
      width: auto;
    }

  .payment-group-list-btn {
      width: auto;
    }

  .payment-data .payment-group a {
      width: auto;
    }
}
#languages {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}

#languages .language {
  cursor: pointer;
  margin-left: 6px;
  vertical-align: middle;
}
